body {
    margin: 0;
    background-image: url("img/bg.jpg");
    background-size: 100%;
    background-position: 0px -20px;
    height: 600px;
    font-family: Arial, Helvetica, sans-serif;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.icon {
    width: 120px;
    height: 120px;
    margin: 10px;
}

.icon:hover {
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 3px;
}


.iconIMG {
    position: relative;
    left: 20px;
    width: 60px;
    margin: 10px;
}

.iconNAME {
    margin-top: 0px;
    color: white;
    text-align: center;
    font-size: medium;
}



footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    background-color: rgba(17, 17, 17, 0.788);
    width: 100%;
}

.navIMG {
    width: 25px;
    margin-left: 10px;
    margin-top: 10px;
}


#googleImg {
    width: 30%;
    margin-top: 50px;
}

#googleSearch {
    width: 30%;
    height: 30px;
    border-radius: 20px;
    border: 1px #999 solid;
}

#search {
    position: relative;
    width: 200px;
    top: 20px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 10px;
}



.window {
    position: absolute;
    width: 80%;
    height: 400px;
    background-color: white;
    margin: 0 auto;
    left: 50%;
    margin-left: -40%;
    top: 100px;
    display: none;
    text-align: center;
    box-shadow: 0px 0px 5px 5px #111;

}



.windowFull {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0px;
    text-align: center;
}

.windowFull2 {
    position: absolute;
    width: 100%;
    height: 580px;
    background-color: white;
    top: 0px;
    text-align: center;
}

#projects {
    overflow-y: scroll;
    height: 360px;
}

#projectsFull {
    overflow-y: scroll;
    width: 100%;
    height: 530px;
}

.nav {
    height: 40px;
    background-color: whitesmoke;
}

.navText {
    display: inline;
    position: absolute;
    font-size: large;
    left: 20px;
}

.close {
    width: 20px;
    padding: 10px;
}
.exit {
    height: 40px;
    width: 60px;
    float: right;
    transition: 0.2s;
}

.exit:hover {
    background-color: tomato;
}

.full {
    height: 40px;
    width: 60px;
    float: right;
    transition: 0.2s;
}

.full:hover {
    background-color:rgba(0, 0, 0, 0.356);
}

.low {
    height: 40px;
    width: 60px;
    float: right;
    transition: 0.2s;
}

.low:hover {
    background-color: rgba(0, 0, 0, 0.356);
}








#windows {
    position: absolute;
    left: -400px;
    width: 300px;
    height: 80%;
    background-color:  rgba(17, 17, 17, 0.788);
    bottom: 40px;
    transition: 0.7s;
}


#divNav:hover {
    background-color: black;
    width: 50px;
    height: 40px;
}

#time,#language,#sound {
    position: absolute;
    bottom: 0px;
    right: 20px;
    color: white;
    font-size: small;
    padding: 5px;
}


#sound {
    right: 150px;
    padding: 10px;
}

#language {
    padding: 12px;
    right: 100px;
}

#time:hover, #language:hover, #sound:hover {
    background-color: rgba(0, 0, 0, 0.432);
}


.smallIcon {
    width: 16px;
}

#rightClick {
    border: 2px solid #999;
    border-radius: 3px;
    position: absolute;
    width: 200px;
    height: 325px;
    background-color: rgb(226, 221, 221);
    display: none;
}

.rightClickItem {
    margin: 0;
    padding-top: 10px;
    padding-left: 20px;
    background-color: rgb(214, 211, 211);
    width: 180px;
    height: 30px;
}

hr {
    margin: 0;
    color: white;
}

.rightClickItem:hover {
    background-color: whitesmoke;
}












.informations {
    position: relative;
    width: 100%;
    background-color: rgb(212, 211, 211);
    top: 40px;
    height: 40px;
    z-index: 1;
    color: #555;
}

#information1, #information2, #information3 {
   position: absolute;
   
}

#information1 {
    left: 7%;
}

#information2 {
    left: 35%;
}


#information3 {
    left: 80%;
}




.project {
    position: relative;
    top: 40px;
    width: 94.5%;
    padding: 10px;
    border-top: 1px solid rgb(223, 223, 223);
}

.projectIMG {
        height: 50px;
        float: left;
        margin-left: 5%;
}

.projectNAME {
    position: absolute;
    left: 35%;
    
}

.projectDATE {
    margin-left: 70%; 
}


.project:hover {
    background-color: rgba(0, 0, 0, 0.103);
}




@media only screen and (max-width: 1200px) {
    body {
        background-image: url("img/mobileBG.jpg");
        background-size: 100%;
        background-position: 0px -20px;
    }
  }

  @media only screen and (max-width: 800px) {
    
    #googleImg {
        width: 60%;
    }

    #googleSearch {
        width: 60%;
    }
  }